<div class="status"></div>

<form action="#" method="post" accept-charset="utf-8">
    <div class="field first_name">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" class="required">
    </div>
    <div class="field last_name">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" class="required">
    </div>

  <div class="field email_address">
    <label for="email_address">Email Address</label>
    <input type="text" name="email_address" class="required email">
  </div>

  <div class="field interest">
    <label for="interest">Interest</label>
    <select name="interest" class="required">
      <option selected="selected"></option>
      <option>I want to hire you guys!</option>
      <option>I want you guys to hire me!</option>
      <option>I want to invest in a venture!</option>
      <option>I want to join your mailing list!</option>
      <option>Other</option>
    </select>
  </div>

  <div class="field message">
    <label for="message">Message</label>
    <textarea name="message" class="required"></textarea>
  </div>

  <div class="field submit">
    <input type="submit" class="btn primary" value="Send">
  </div>
</form>
