h1 {
  text-transform:capitalize;
  margin-bottom:0px;
}

a.email {
  padding-bottom:10px;
  display:block;
  text-transform:lowercase;
}

section#contacts {
  margin-top:40px;
}

div.contact {
  margin-bottom:20px;
  border-bottom:solid 1px #e1e1e1;
  padding-bottom:20px;
}
